.super-mario {
  width: 200px;
  position: absolute;
  z-index: 2;
  left: 40px;
  }
  
  .goomba {
  width: 100px;
  top: 400px;
  position: absolute;
  z-index: 1;
  left: 90px;
  }
  
  .baloon {
    position: absolute;
    left: 260px;
  }
  
  .speech {
  font-size: 25px;
  position: absolute;
  left: 280px;
  top: 110px;
  z-index: 3;
  }
  
  .bowser {
  width: 200px;
  }