body{
    background-color: rgb(253, 251, 251);
    margin: 20px;
    font-family: sans-serif;
    color: rgb(2, 2, 51);
}
header{
    top: 0;
    position: fixed;
    background-color: aqua;
}
#minha_foto{
    width: 200px;
    margin: 70px 0px 20px 0px;
}
.borda, th, td{
    border: 0.3px solid black;
}
.lado-direito{
    padding:  10px 0px;
    border:0.3px solid black;
    margin: 10px 0px;
    display: inline-block;
    width: 25%;
    text-align: center;
    margin-left: 10px;
    padding: 0px 2px 30px 5px;
    vertical-align: 10px;
    color: blue;
    float: right;
    position: relative;
    right: 40px;
    top:15px;
    
    
}
.lado-esquerdo{
    display: inline-block;
    width:70%;
    text-align: justify;
    float: left;
    
}
footer{
    padding: 10px 0px;
    font-size: small;
    background-color: aquamarine;
}
#learn-more{
    padding: 10px 0px 30px 0px;
    margin: 30px 0px;
}
p{
    line-height: 1.6;
}
table{
    clear: both;
    margin-left: 50%;
}